.App {
  color: #e4e5ea;
  background-color: #000000;
  background-image: url(./img/purple_light.svg), url(./img/red_light.svg);
  background-repeat: no-repeat;
  background-position: top, left;
  overflow: hidden;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.App::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
.App {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 690px) {
  .App {
    background: #000000;
  }
}
