@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.Footer {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.FooterInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.FooterInfoMenu {
  display: flex;
  flex-direction: column;
}

.FooterInfoMenu:last-child {
  text-align: right;
}

.FooterInfoMenu h3 {
  color: #656566;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.FooterInfoMenu a,
.FooterInfoMenu p {
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #e4e5ea;
  padding-bottom: 10px;
}

.FooterInfoMenu .FooterText,
.FooterInfoMenu .FooterLinkPrivacy {
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
}

.FooterInfoMenu .FooterLinkPrivacy {
  text-decoration: underline;
}

.FooterSocialLinks {
  display: flex;
  padding: 16px 0 0;
  margin: 0;
  justify-content: flex-end;
}

.FooterSocialLinks a {
  padding-left: 10px;
}

.FooterInfoMenuLink {
  display: flex;
}

.FooterInfoMenuLinkItem {
  display: grid;
  padding-right: 40px;
  align-items: end;
}

.FooterLinkLetterMobile {
  display: none;
}

@media only screen and (max-width: 690px) {
  .FooterInfo {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .FooterInfoMenu a,
  .FooterInfoMenu p {
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }

  .FooterInfoMenu {
    padding: 0;
  }

  .FooterInfoMenu:last-child {
    text-align: left;
  }

  .FooterLinkLetterMobile {
    display: inline-block;
  }

  .FooterLinkLetter {
    display: none;
  }

  .FooterText {
    margin: 0;
  }

  .FooterSocialLinks {
    justify-content: flex-start;
    padding: 0;
  }
  .FooterSocialLinks a {
    padding-right: 10px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .FooterTextAddress {
    padding-top: 5px;
    margin: 0 0 60px;
  }
}
